# Ignore Python virtual environments
venv/
*.venv
env/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Git history
.git/
.gitignore

# Ignore IDE/Editor-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
